.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"] {

        width:100%;

        @include design(tab-portrait){
            float: left;

            &:not(:last-child){
                margin-right: $gutter-horizontal;
            }
        }
        
    }

    @include design(tab-horizontal){
        .col-1-of-3 {
            width: calc((100% - #{$gutter-horizontal} * 2) / 3);
          }
    }
    
}